
<h3>{{'label.title'|translate}}</h3>
<!--<button type="button" (click)="switchLang('vn')">VN</button>-->
<!--<button type="button" (click)="switchLang('en')">EN</button>-->
<span class="form-inline">
      <select class="form-control" #selectedLang (change)="switchLang(selectedLang.value)">
        <option *ngFor="let language of translate.getLangs()" [value]="language"
                [selected]="language === translate.currentLang">
          {{ language }}
        </option>
      </select>
    </span>
